* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*FUENTES DE GOOGLE*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {

    /*first color*/
    --white-color: #fff;
    --first-color: #00BFAF;
    --sec-color: #BFAF00;
    --ter-color: #BF0070;
    /*z-index*/
    --z-index-fixed: 100;

    /*margin*/
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

}

body {
    font-family: 'Lato', sans-serif;
    /* margin: 3.5rem 0 0 0; */
}

html {
    scroll-behavior: smooth;
}


/*global*/
.container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

/*==================*/

.list ul li {
    text-decoration: none;
    list-style: none;

}

ul li {
    list-style: none;
}


a {
    text-decoration: none;
}

/* .section{
width: 300px;
display: flex;
justify-content: center;
align-items: center;
} */

/*NAVBAR*/

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.4s;
    z-index: var(--z-index-fixed);
}


.logo img {
    transition: 0.5s;
    width: 55px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    transition: .5s;
}


.nav__toggle {
    display: inline-flex;
    font-size: 1.9rem;
    cursor: pointer;
    color: rgb(236, 236, 236);
    font-weight: bold;
}


.nav__close {
    font-size: 2.4rem;
    position: absolute;
    top: 2rem;
    right: 1.25rem;
    cursor: pointer;
    color: #708785;
}

/*nav list*/

.nav__list {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 40px;
    row-gap: 3rem;
}


.nav__link {
    color: #708785;
    font-weight: 900;
}

.social {
    position: absolute;
    margin-top: 160px;
    margin-left: 45px;

}


.social a {
    color: #393939;
    align-items: center;
    font-size: 2.5rem;
}

/*cambio de color header*/
.scroll-header {

    background-color: #ffffff;
    box-shadow: rgb(171, 171, 171) 0px 6px 6px -4px;
    transition: .5s;
    height: 12vh;

}

.scroll-header .nav {
    height: 13vh;

}

.scroll-header .nav__toggle {
    color: #00BFAF;
}

.scroll-header .logo img {
    width: 50px;
}




@media screen and (max-width:767px) {

    .nav__menu {
        position: fixed;
        width: 80%;
        height: 100%;
        top: 0;
        background-color: #ffffff;
        right: -100%;
        padding: 4rem 0 0 3rem;
        border-radius: 1rem 0 0 1rem;
        transition: .3s;
        z-index: var(--z-index-fixed);
        box-shadow: -12px 0px 14px -8px rgba(0, 0, 0, 0.71);
    }
}


/*showw menu*/
.show-menu {
    right: 0;
}

/*================================*/

/*section==========================*/
.section {
    padding-top: 7rem;
}

/*================================*/


.home {

    position: relative;
    background: url(img/img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    height: 150vh;

}

/*home*/

.divhome {
    padding-top: 60px;
    color: #e9f9e9;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}


.title {

    font-size: 2.7em;
    color: #BFEFEB;
    text-transform: uppercase;
    font-weight: normal;
}


.parrafo {
    font-size: 1.1em;
    text-align: center;
    font-weight: 400;
    color: #ffffff;

}

.gr-btn {
    display: flex;
    gap: 2em;
    text-align: center;
    font-weight: bold;


}

.size {
    width: 150px;
    height: 30px;
    padding-top: 2px;
}


.btn-1 {
    display: flex;
    justify-content: center;
    border: 2px solid var(--sec-color);

}

/*botones principales*/
.btn-1 a,
.btn-2 a {
    color: #e9f9e9;
}



.btn-2 {
    display: flex;
    justify-content: center;
    transition: 0.2s ease-out;
    border: 2px solid var(--sec-color);
}

/*==========================================*/


.btn-2:hover {
    background-color: var(--sec-color);

}


/*picture*/

.pic1 {

    margin-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    gap: 1em;
    align-items: center;


}

.pic1 img {
    position: relative;
    z-index: 30;
}


.pic1::before {
    position: absolute;
    margin-top: 18px;
    margin-left: 30px;
    content: '';
    width: 190px;
    height: 290px;
    border: 3px solid #3e9d92;
    z-index: 0;

}


.gr-pic-text {
    margin-top: 30px;
}

.name-pic1 {
    display: inline-block;
    position: relative;
    font-weight: normal;
}

.name-pic1::before,
.name-pic1::after {
    position: absolute;
    top: 0.6em;
    right: 3;
    content: '';
    width: 30px;

    border: 2px solid var(--sec-color);
}

.name-pic1::before {
    left: -40px;
}


.name-pic1::after {
    right: -40px;
}


.parr-pic1 {
    font-weight: 400;
    font-size: 1.1em;
    color: #ffffff;
}

/*==================================================*/

/*SERVICIOS*/
.services {
    height: auto;
    margin-bottom: 90px;

}


.divserv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.title-serv {
    position: relative;
    font-size: 1.5em;
    text-align: center;
    color: #393939;
    text-transform: uppercase;
    font-weight: 300;


}

.title-serv::before {
    position: absolute;
    content: '';
    /* width: 80px;  */
    height: 30px;
    border: 2px solid #00BFAF;
    top: -4px;
    left: -8px;
    /* top: 27px; */
}


/*card*/
/* .title-gr{
   
} */
.content-card {
display: grid;
    margin-top: 40px;
    gap: 5px;
}

.card {
    position: relative;
    width: 200px;
    height: 300px;
    margin-top: 15px;
    border-radius: 10px;
    border: 2px solid var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: -2px 7px 25px -14px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 7px 25px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 7px 25px -14px rgba(0,0,0,0.75);
}

.card::before {
    position: absolute;
    content: '';
    width: 30px;
    border: 5px solid var(--sec-color);
    top: -5px;


}


/*estilo boton secundario*/

.btn-card {
    border: 2px solid var(--sec-color);
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.btn-card:hover {
    background-color: var(--sec-color);
}


.btn-card:hover a {
    color: var(--white-color);
}

.size2 {
    width: 85px;
    height: 23px;
    padding-top: 2px;
    text-align: center;

}

.btn-card a {
    color: #727272;
    font-size: .8em;
    font-weight: 500;
}

/*============================================*/


.text-gp {
    text-align: left;
    padding-right: 30px;
    padding-left: 30px;

}

.title-card {
    margin-bottom: 6px;
    font-size: 1.1em;
    color: #004842;
    font-weight: 400;
}

.parr-serv {
    font-size: .9em;
    color: #5e716f;
}


/*========================================================*/


/*ABOUT SECTION===========================================*/
.about {
    height: 200vh;
  
  
}

.div-about{
    display: flex;
    flex-direction: column;
 
    gap: 20px;
    text-align: center;
}

.title-about {
    position: relative;
}

.title-about h1:before{
    position: absolute;
    content: '';
    height: 30px;
    top: 0;
    right: 110px;
    border:2px solid var(--sec-color);
}

.contact {
    height: 200vh;
    background-color: #BFAF00;
}